body {
  font-family: Alegreya, serif;
}

.page-pink {
  padding-top: 30px;
  background: var(--light-pink);
  @media (--large) {
    padding-top: 15px;
  }
  @media (--tablet) {
    padding-top: 20px;
  }
  @media (--mobile) {
    padding-top: 10px;
  }
}

.separator {
  width: 1680px;
  height: 1px;
  margin: 150px auto;
  background: var(--gray);
  @media (--large) {
    width: 1080px;
    margin-top: 80px;
  }
  @media (--tablet) {
    width: 708px;
    margin-top: 70px;
  }
  @media (--mobile) {
    width: 330px;
    margin-top: 50px;
  }
}

.magazine-grid-team-container {
  .magazine-grid {
    padding-bottom: 150px;
    @media (--large) {
      padding-bottom: 120px;
    }
    @media (--tablet) {
      padding-bottom: 100px;
    }
    @media (--mobile) {
      padding-bottom: 60px;
    }
  }
}

.page-section-container {
  margin-bottom: 10px;
}

.page-text-dot-magazine-container {
  .dot-section {
    margin-bottom: 160px;
    @media (--large) {
      margin-bottom: 130px;
    }
    @media (--tablet) {
      margin-bottom: 60px;
    }
    @media (--mobile) {
      margin-bottom: 72px;
    }
  }

  .page-text {
    margin: 0 auto;
  }

  .featured-magazine {
    padding-top: 80px;
    padding-bottom: 150px;
    @media (--large) {
      padding-bottom: 130px;
    }
    @media (--tablet) {
      padding-bottom: 100px;
    }
    @media (--mobile) {
      padding-top: 40px;
      padding-bottom: 60px;
    }
  }
}
