.blog-post {
  display: flex;
  flex-direction: column;
  &__author {
  }
  &__date {
  }
  &__date-container {
    display: flex;
    place-content: space-between;
    margin-bottom: 10px;
    @include u-text-l;

    @media (--large) {
      margin-bottom: 8px;
    }
    @media (--mobile) {
      margin-bottom: 5px;
    }
  }
  &__description {
    margin-bottom: 40px;
    @include u-text-l;
    @media (--large) {
      margin-bottom: 25px;
    }
    @media (--tablet) {
      margin-bottom: 20px;
    }
  }
  &__categories {
    color: var(--gray);
    @include u-text-l;
  }
  &__image {
    margin-bottom: 50px;
    @media (--large) {
      margin-bottom: 25px;
    }
    @media (--tablet) {
      margin-bottom: 15px;
    }
    @media (--mobile) {
      margin-bottom: 10px;
    }
  }
  &__title {
    margin: 15px 0 10px;
    color: var(--purple);
    @include u-text-xl;
    @media (--large) {
      margin: 20px 0 15px;
    }
    @media (--tablet) {
      margin: 15px 0 10px;
    }
  }
  .button {
    margin: 0 auto;
  }
}
