.blog-post {
  display: flex;
  flex-direction: column;
  &__author {
  }
  &__date {
  }
  &__date-container {
    display: flex;
    place-content: space-between;
    margin-bottom: 10px;
    @include u-text-l;
  }
  &__description {
    margin-bottom: 40px;
    @include u-text-l;
  }
  &__categories {
    color: var(--gray);

    @include u-text-l;
  }
  &__image {
    margin: 10px 0 50px;
  }
  &__title {
    margin: 15px 0 10px;
    color: var(--purple);
    @include u-text-xl;
  }
  .button {
    margin: 0 auto;
  }
}
