.contact-commentary-form {
  width: 1680px;
  margin: 0 auto;
  .page-text {
    margin: 0 0 60px;
  }
  &__container {
    display: flex;
    form {
      width: 840px;
      margin: unset;
    }
  }
}
