.customers {
  display: grid;
  grid-template-columns: repeat(2, 800px);
  row-gap: 100px;
  place-content: space-between;
  width: 1680px;
  margin: 100px auto 250px;
  @media (--large) {
    grid-template-columns: repeat(2, 500px);
    row-gap: 70px;
    width: 1080px;
    margin-bottom: 180px;
  }
  @media (--tablet) {
    grid-template-columns: 1fr;
    row-gap: 55px;
    width: 708px;
  }
  @media (--mobile) {
    row-gap: 35px;
    width: 330px;
  }

  &__description {
    grid-column: 1/-1;

    // margin-bottom: 61px;
    text-align: center;
    @media (--tablet) {
      // margin-bottom: 40px;
    }
    @media (--mobile) {
      // margin-bottom: 25px;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-top: 50px;
    @media (--large) {
      gap: 20px;
      margin-top: 25px;
    }
    @media (--mobile) {
      gap: 18px;
      margin-top: 20px;
    }
  }

  &__link {
    display: flex;
    place-items: center;
    margin-bottom: 25px;
    @include u-text-l;

    &:last-of-type {
      margin-bottom: unset;
    }

    &:hover {
      text-decoration: underline;
    }

    &::before {
      position: relative;
      width: 4px;
      height: 30px;
      margin-right: 16px;
      content: "";
      background: url(~/assets/svg/rectangle.svg);
      background-repeat: no-repeat;
      transition: 0.3s ease-in-out;
      @media (--large) {
        margin-right: 12px;
      }
      @media (--mobile) {
        width: 2px;
        height: 15px;
        margin-right: 5px;
      }
    }

    &:hover {
      .modal-menu__sub-link {
        text-decoration: underline;
        transition: 0.2s ease-in-out;
        transform: translateX(30px);
      }

      &::before {
        transform: rotate(15deg);
      }
    }
  }

  &__title {
    position: relative;
    margin-bottom: 24px;
    font-weight: 600;
    color: var(--purple);
    cursor: pointer;

    &::after {
      position: absolute;
      top: calc(100% + 11px);
      left: 0;
      width: 100%;
      height: 1px;
      content: "";
      background: var(--gray);
    }

    &::before {
      position: absolute;
      right: 0;
      width: 27px;
      height: 35px;
      content: "";
      background-image: url(~/assets/svg/arrow.svg);
      background-repeat: no-repeat;
      transition: 0.3s ease-out;
      transform: rotate(-90deg);
      @media (--large) {
        width: 22px;
      }
      @media (--mobile) {
        width: 11px;
      }
    }

    &--active {
      &::before {
        transform: rotate(90deg);
      }
    }

    &--no-toggle {
      cursor: unset;

      &::before {
        content: unset;
      }
    }
  }

  &__bottom {
    display: flex;
    flex-direction: column;
    grid-column: 1/-1;
    place-content: center;
    place-items: center;
    width: 700px;
    margin: 0 auto;
    @media (--mobile) {
      width: 330px;
    }
  }

  &__bottom-title {
    margin-bottom: 24px;
    color: var(--purple);
    @include u-text-xl3;
    @media (--tablet) {
      margin-bottom: 20px;
    }
    @media (--mobile) {
      margin-bottom: 15px;
    }
  }
}
