.dot-section {
  position: relative;
  display: flex;
  flex-direction: column;
  place-content: center;
  place-items: center;
  width: 960px;
  margin: 0 auto;
  margin: 100px auto 210px;
  text-align: center;
  @include u-text-xl2;
  @media (--large) {
    width: 800px;
    margin: 80px auto 130px;
  }
  @media (--tablet) {
    width: 708px;
    margin: 60px auto 92px;
  }
  @media (--mobile) {
    width: 330px;
    margin: 12px auto 50px;
  }

  &::after {
    position: absolute;
    bottom: -60px;
    width: 30px;
    height: 30px;
    content: "";
    background: var(--pink);
    border-radius: 100%;
    @media (--large) {
      bottom: -50px;
      width: 25px;
      height: 25px;
    }
    @media (--tablet) {
      bottom: -32px;
      width: 20px;
      height: 20px;
    }
    @media (--mobile) {
      bottom: -22px;
      width: 12px;
      height: 12px;
    }
  }

  &__title {
    margin-bottom: 20px;
    @include u-text-xl6;
    @media (--large) {
      margin-bottom: 5px;
    }
    @media (--tablet) {
      margin-bottom: 10px;
    }
  }
}

.posts-top-section {
  .dot-section {
    margin-bottom: 0;
  }

  .featured-magazine {
    padding-top: 0;
    margin-top: 140px;
    margin-bottom: 200px;
    @media (--large) {
      margin-top: 130px;
      margin-bottom: 150px;
    }
    @media (--tablet) {
      margin-top: 92px;
      margin-bottom: 100px;
    }
    @media (--mobile) {
      margin-top: 72px;
      margin-bottom: 60px;
    }
  }
}
