.dot-section {
  display: flex;
  place-content: center;
  place-items: center;
  width: 960px;
  margin: 0 auto;
  @include u-text-xl2;
  position: relative;
  margin: 100px auto 210px;
  text-align: center;
  &:after {
    bottom: -60px;
    content: "";
    border-radius: 100%;
    background: var(--pink);
    width: 30px;
    height: 30px;
    position: absolute;
  }
}
