.history-section {
  display: flex;
  flex-direction: column;
  padding: 200px 0;
  @media (--large) {
    padding: 150px 0;
  }
  @media (--tablet) {
    padding: 100px 0;
  }
  @media (--mobile) {
    padding: 65px 0;
  }

  &__title {
    margin-bottom: 80px;
    text-align: center;

    @include u-text-xl5;

    @media (--large) {
      margin-bottom: 40px;
    }
    @media (--mobile) {
      margin-bottom: 25px;
    }
  }

  &__element {
    display: flex;
    gap: 120px;
    place-content: center;
    place-items: center;
    margin-bottom: 100px;

    &:last-of-type {
      margin-bottom: 0;
    }

    &:nth-of-type(odd) {
      flex-direction: row-reverse;
    }

    @media (--large) {
      gap: 70px;
      margin-bottom: 80px;
    }
    @media (--tablet) {
      flex-direction: column-reverse;
      gap: 20px;
      margin-bottom: 70px;

      &:nth-of-type(odd) {
        flex-direction: column-reverse;
      }
    }
    @media (--mobile) {
      gap: 12px;
    }
  }

  &__element-title {
    font-weight: 600;
    color: var(--purple);
    @include u-text-xl3;
  }

  &__element-description {
    @include u-text-l;

    p {
      margin-bottom: 20px;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 500px;
    @media (--large) {
      width: 400px;
    }
    @media (--tablet) {
      width: 600px;
    }
    @media (--mobile) {
      width: 330px;
    }
  }

  &__image {
    width: 780px;
    @media (--large) {
      width: 600px;
    }
    @media (--tablet) {
      width: 600px;
    }
    @media (--mobile) {
      width: 330px;
    }
  }

  &__know-more {
    display: flex;
    flex-direction: column;
    place-content: center;
    place-items: center;
    margin-top: 120px;
    @media (--large) {
      margin-top: 100px;
    }
    @media (--tablet) {
      margin-top: 90px;
    }
    @media (--mobile) {
      margin-top: 60px;
    }
  }

  &__know-more-title {
    margin-bottom: 24px;
    color: var(--purple);
    text-align: center;

    @include u-text-xl3;

    @media (--large) {
      margin-bottom: 20px;
    }
    @media (--tablet) {
      margin-bottom: 15px;
    }
  }
}
