.media {
  display: flex;
  flex-direction: column;

  &--featured {
    flex-direction: row;
    grid-column: 1/-1;
    gap: 40px;
    margin: 0 auto;
    @media (--mobile) {
      flex-direction: column;
      gap: unset;
      width: 100%;
    }

    .media__description {
      display: block;
      width: 400px;
      text-align: left;
      @media (--large) {
        width: 350px;
      }
      @media (--tablet) {
        width: 324px;
      }
      @media (--mobile) {
        width: unset;
        margin-bottom: 20px;
      }
    }

    .media__image {
      width: 450px;
      @media (--large) {
        width: 382px;
      }
      @media (--tablet) {
        width: 200px;
      }
      @media (--mobile) {
        width: 200px;
      }
    }

    .video__image {
      width: 800px;
      @media (--large) {
        width: 382px;
      }
      @media (--tablet) {
        width: 200px;
      }
      @media (--mobile) {
        width: 200px;
      }
    }

    .media__title {
      margin-top: 86px;
      margin-bottom: 10px;
      text-align: left;
      @media (--tablet) {
        margin-top: 32px;
      }
      @media (--mobile) {
        margin-top: unset;
      }
    }
  }

  &__date {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    font-weight: 600;
    text-align: left;
    @include u-text-l;
    @media (--large) {
      margin-bottom: 8px;
    }
    @media (--mobile) {
      margin-bottom: 5px;
    }
  }

  &__description {
    display: none;

    @include u-text-l;
  }

  &__image {
    width: max-content;
    margin: 0 auto;
    @media (--mobile) {
      width: 200px;
      margin-bottom: 15px;
    }
  }

  &__image-date {
  }

  &__information {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &__title {
    margin-bottom: 40px;
    font-weight: 600;
    color: var(--purple);
    @include u-text-xl;
    @media (--large) {
      margin-bottom: 25px;
    }
    @media (--tablet) {
      margin-bottom: 20px;
    }
    @media (--mobile) {
      text-align: left;
    }
  }

  .button {
    margin-top: auto;
    @media (--mobile) {
      width: 200px;
      margin-right: auto;
      margin-left: auto;
    }
  }
}
