.header {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 20;
  background: var(--white);
}
.nav {
  width: 1015px;
  margin-left: auto;
  padding-right: per(50, 1920);
  &__element {
    display: flex;
    place-items: center;
    place-content: center;
    @include u-text-base;

    &--right {
    }
    &--center {
      margin-right: auto;
    }
  }
  &__list {
    display: flex;
    place-content: flex-end;
    place-items: center;
    gap: 60px;
  }
  &__logo {
  }
  &__menu {
  }
  &__search {
  }
}

.modal-menu {
  position: fixed;
  z-index: 10;
  background: var(--purple);
  inset: 0;
  color: white;
  display: flex;
  place-content: center;
  place-items: center;
  transition: 0.8s ease-out;
  will-change: transform;
  transform: translateY(-100vh);

  &--active {
    transform: translateY(0);
  }
  &__element {
    @include u-text-xl3;

    &:first-of-type {
      grid-row: 1/-1;
    }
  }
  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5, 1fr);
    column-gap: 80px;
    row-gap: 50px;
    width: 1680px;
  }
  &__sub-element {
    @include u-text-xl;
  }
  &__sub-list {
    margin-top: 20px;
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
}

.search-modal {
  position: fixed;
  z-index: 10;
  background: var(--purple);
  inset: 0;
  color: white;
  display: flex;
  place-content: center;
  place-items: center;
  transition: 0.8s ease-out;
  will-change: transform;
  transform: translateY(-100vh);
  &--active {
    transform: translateY(0);
  }
  &__element {
    &:first-of-type {
      grid-row: 1/-1;
    }
  }
  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5, 1fr);
    column-gap: 80px;
    row-gap: 50px;
    width: 1680px;
  }
  &__sub-element {
  }
  &__sub-list {
    margin-top: 20px;
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
}
