.header {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 20;
  background: var(--white);
  padding: 25px 0 15px;
}

.nav {
  width: 1015px;
  margin-left: auto;
  padding-right: per(50, 1920);

  &__link {
    position: relative;

    &:after {
      height: 4px;
      width: 30px;
      content: "";
      background: var(--pink);
      position: absolute;
      transform: skew(-45deg, 0);
      top: calc(100% + 9px);
      right: 0;
      transition: 0.4s ease-in;
    }

    &:before {
      height: 4px;
      width: 30px;
      content: "";
      background: var(--pink);
      position: absolute;
      transform: skew(-45deg, 0);
      bottom: calc(100% + 9px);
      left: 0;
      transition: 0.4s ease-in;
    }
    &:hover {
      &:before {
        width: 100%;
      }
      &:after {
        width: 100%;
      }
    }
  }
  &__element {
    display: flex;
    place-items: center;
    place-content: center;

    @include u-text-base;

    &--right {
    }
    &--center {
      margin-right: auto;
    }
  }
  &__list {
    display: flex;
    place-content: flex-end;
    place-items: center;
    gap: 60px;
  }
  &__logo {
  }
  &__burger,
  &__close {
    width: 30px;
    path {
      transition: 0.2s ease-in;
    }
  }
  &__menu {
    display: flex;
    gap: 12px;

    &:hover {
      text-decoration: underline;
      .nav__burger {
        path {
          &:first-of-type {
            transform: translateY(2px);
          }
          &:last-of-type {
            transform: translateY(-2px);
          }
        }
      }
    }
  }
  &__search {
    scale: 1;
    transition: 0.2s ease-in;
    &:hover {
      scale: 1.1;
    }
  }
}

.modal-menu {
  position: fixed;
  z-index: 10;
  background: var(--purple);
  inset: 0;
  color: white;
  display: flex;
  place-content: center;
  place-items: center;
  transition: 0.8s ease-out;
  will-change: transform;
  transform: translateY(-100vh);

  &--active {
    transform: translateY(0);
  }
  &__text-wrapper {
    display: block;
    &:hover {
      transition: 0.2s ease-in-out;
      text-decoration: underline;
      transform: translateX(10px);
    }
  }
  &__element {
    @include u-text-xl3;

    &:first-of-type {
      grid-row: 1/-1;
    }
  }
  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5, 1fr);
    column-gap: 80px;
    row-gap: 50px;
    width: 1680px;
  }
  &__sub-link {
    transform: translateX(20px);
  }
  &__sub-element {
    display: flex;
    place-items: center;
    position: relative;
    &:before {
      height: 30px;
      width: 4px;
      content: "";
      background: url(~/assets/svg/rectangle.svg);
      position: absolute;
    }
    @include u-text-xl;

    &:hover {
      .modal-menu__sub-link {
        transition: 0.2s ease-in-out;
        text-decoration: underline;
        transform: translateX(30px);
      }
      &:before {
        transform: rotate(15deg);
      }
    }
  }
  &__sub-list {
    margin-top: 20px;
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
}

.search-modal {
  position: fixed;
  z-index: 10;
  background: var(--purple);
  inset: 0;
  color: white;
  display: flex;
  place-content: center;
  place-items: center;
  transition: 0.8s ease-out;
  will-change: transform;
  transform: translateY(-100vh);
  &--active {
    transform: translateY(0);
  }
  &__element {
    &:first-of-type {
      grid-row: 1/-1;
    }
  }
  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5, 1fr);
    column-gap: 80px;
    row-gap: 50px;
    width: 1680px;
  }
  &__sub-element {
  }
  &__sub-list {
    margin-top: 20px;
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
}
