.header {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 30;
  background: var(--white);
  padding: 25px 0 15px;
  @media (--large) {
    padding: 14px 0 16px;
  }
  @media (--mobile) {
    padding: 8px 0;
  }
}

.nav {
  width: 1015px;
  margin-left: auto;
  padding-right: per(50, 1920);
  @media (--large) {
    width: 1180px;
  }
  @media (--tablet) {
    width: 708px;
    margin: 0 auto;
  }
  @media (--mobile) {
    width: 330px;
  }
  &__link {
    position: relative;
    @media (--mobile) {
      display: none;
    }
    &:after {
      height: 4px;
      width: 30px;
      content: "";
      background: var(--pink);
      position: absolute;
      transform: skew(-45deg, 0);
      top: calc(100% + 9px);
      right: 0;
      transition: 0.4s ease-in;
      @media (--large) {
        top: calc(100% + 6px);
      }
    }

    &:before {
      height: 4px;
      width: 30px;
      content: "";
      background: var(--pink);
      position: absolute;
      transform: skew(-45deg, 0);
      bottom: calc(100% + 9px);
      left: 0;
      transition: 0.4s ease-in;
      @media (--large) {
        bottom: calc(100% + 6px);
      }
    }
    &:hover {
      &:before {
        width: 100%;
      }
      &:after {
        width: 100%;
      }
    }
    &--mobile {
      display: none;
      @media (--mobile) {
        display: flex;
        place-items: center;
        place-content: center;
        &:before {
          content: unset;
        }
        &:after {
          display: block;
          height: 20px;
          width: 20px;
          content: "";
          background: unset;
          position: static;
          transform: unset;
          top: unset;
          right: 0;
          transition: unset;
          background: url(~/assets/svg/headphone.svg);
          background-size: 100%;
          background-repeat: no-repeat;
          margin-left: 5px;
        }
      }
    }
  }
  &__element {
    display: flex;
    place-items: center;
    place-content: center;

    @include u-text-base;
    @media (--tablet) {
      &:first-of-type {
        margin-right: auto;
      }
    }
    &--right {
    }
    &--center {
      margin-right: auto;
    }
  }
  &__list {
    display: flex;
    place-content: flex-end;
    place-items: center;
    gap: 60px;
    @media (--large) {
      gap: 50px;
    }
    @media (--mobile) {
      gap: 25px;
    }
  }
  &__logo {
    width: 230px;
    @media (--large) {
      width: 153px;
    }

    @media (--mobile) {
      width: 114px;
    }
  }
  &__burger,
  &__close {
    width: 30px;
    @media (--tablet) {
      width: 25px;
    }
    @media (--mobile) {
      width: 20px;
    }
    path {
      transition: 0.2s ease-in;
    }
  }
  &__menu {
    display: flex;
    gap: 12px;
    @media (--mobile) {
      span {
        display: none;
      }
    }
    &:hover {
      text-decoration: underline;
      .nav__burger {
        path {
          &:first-of-type {
            transform: translateY(2px);
          }
          &:last-of-type {
            transform: translateY(-2px);
          }
        }
      }
    }
  }
  &__search {
    scale: 1;
    transition: 0.2s ease-in;
    &:hover {
      scale: 1.1;
    }
    @media (--mobile) {
      display: none;
    }
  }
}

.modal-menu {
  position: fixed;
  z-index: 10;
  background: var(--purple);
  inset: 0;
  color: white;
  display: flex;
  place-content: center;
  place-items: center;
  transition: 0.8s ease-out;
  will-change: transform;
  transform: translateY(-100vh);

  &--active {
    transform: translateY(0);
  }
  &__text-wrapper {
    display: block;
    &:hover {
      transition: 0.2s ease-in-out;
      text-decoration: underline;
      transform: translateX(10px);
    }
  }
  &__element {
    @include u-text-xl3;

    &:first-of-type {
      grid-row: 1/-1;
    }
  }
  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5, 1fr);
    column-gap: 80px;
    row-gap: 50px;
    width: 1680px;

    @media (--large) {
      width: 1070px;
      column-gap: 40px;
      row-gap: 30px;
    }
    @media (--tablet) {
      display: flex;
      flex-direction: column;
      gap: 30px;
      width: 400px;
    }
    @media (--mobile) {
      gap: 15px;
      width: 330px;
    }
  }
  &__sub-link {
    transform: translateX(20px);
  }
  &__sub-element {
    display: flex;
    place-items: center;
    position: relative;
    &:before {
      height: 30px;
      width: 4px;
      content: "";
      background: url(~/assets/svg/rectangle.svg);
      position: absolute;
    }
    @include u-text-xl;

    &:hover {
      .modal-menu__sub-link {
        transition: 0.2s ease-in-out;
        text-decoration: underline;
        transform: translateX(30px);
      }
      &:before {
        transform: rotate(15deg);
      }
    }
  }
  &__sub-list {
    margin-top: 20px;
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    @media (--large) {
      margin-top: 15px;
      margin-left: 20px;
      gap: 20px;
      margin-left: 0;
    }
    @media (--tablet) {
      margin-top: 25px;
      gap: 25px;
      margin-bottom: 10px;
    }
    @media (--mobile) {
      margin-top: 10px;
      gap: 10px;
      margin-bottom: 0;
      margin-left: 10px;
    }
  }
}

.search-modal {
  position: fixed;
  z-index: 10;
  background: var(--purple);
  inset: 0;
  color: white;
  display: flex;
  place-content: center;
  place-items: center;
  transition: 0.8s ease-out;
  will-change: transform;
  transform: translateY(-100vh);
  &--active {
    transform: translateY(0);
  }
  &__element {
    &:first-of-type {
      grid-row: 1/-1;
    }
  }
  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5, 1fr);
    column-gap: 80px;
    row-gap: 50px;
    width: 1680px;
  }
  &__sub-element {
  }
  &__sub-list {
    margin-top: 20px;
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
}
