.page-header {
  display: flex;
  place-content: center;
  place-items: center;
  position: relative;
  flex-direction: column;
  width: 100%;
  padding: 100px 0 120px;
  overflow: hidden;
  @media (--large) {
    padding: 80px 0;
  }
  @media (--tablet) {
    padding: 40px 0 52px;
  }
  @media (--mobile) {
    padding: 0;
  }
  &__title,
  &__subtitle {
    position: relative;
    z-index: 2;
    width: 1050px;
    text-align: center;
    color: var(--white);
    @media (--tablet) {
      width: 708px;
    }
    @media (--mobile) {
      width: 330px;
      color: var(--black);
    }
  }
  &__subtitle {
    @include u-text-xl3;
  }
  &__title {
    margin-bottom: 40px;
    @include u-text-xl6;
    @media (--large) {
      margin-bottom: 10px;
    }
  }

  &__image-container {
    position: absolute;
    z-index: 1;
    inset: 0;
    object-fit: cover;
    &:after {
      content: "";
      position: absolute;
      inset: 0;
      background-color: black;
      opacity: 0.3;
      z-index: 1;
    }
    @media (--mobile) {
      position: relative;
      width: 100%;
      height: auto;
      order: -1;
      margin-bottom: 12px;
    }
  }
}
