.page-text {
  width: 960px;
  margin: 0 auto 140px;
  &__description {
    @include u-text-l;

    p {
      margin-bottom: 20px;
      strong {
        font-weight: 600;
      }
      &:last-of-type {
        margin-bottom: 0;
      }
    }
    ul {
      display: flex;
      flex-direction: column;
      gap: 20px;
      margin-top: 50px;
      li {
        font-weight: 600;
        display: flex;
        place-items: flex-start;
        &:before {
          content: "";
          min-width: 10px;
          min-height: 10px;
          background: var(--pink);
          border-radius: 100%;
          margin-right: 10px;
          margin-top: 14px;
        }
      }
    }
  }
  &__title {
    color: var(--purple);
    margin-bottom: 20px;
    @include u-text-xl3;
  }
}

.page-section-container {
  margin-bottom: 10px;
}
