.search-modal {
  position: fixed;
  z-index: 20;
  background: var(--purple);
  inset: 0;
  color: white;
  display: flex;
  place-content: center;
  place-items: center;
  transition: 0.8s ease-out;
  will-change: transform;
  transform: translateY(-100vh);
  &--active {
    transform: translateY(0);
  }
  &__element {
    &:first-of-type {
      grid-row: 1/-1;
    }
  }
  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5, 1fr);
    column-gap: 80px;
    row-gap: 50px;
    width: 1680px;
  }
  &__sub-element {
  }
  &__sub-list {
    margin-top: 20px;
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
}
.search-input {
  width: 1160px;
  margin: 0 auto;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--white);
  position: relative;
  &__input {
    background: unset;
    text-align: center;
    width: 100%;
    color: var(--white);
    @include u-text-xl2;
    &::placeholder {
      color: var(--white);
    }
  }
  &__button {
    position: absolute;
    right: 15px;
    bottom: 14px;
    width: 30px;
    height: 30px;
    transition: 0.1s ease-in;
    &:hover {
      transform: scale(1.1);
    }
  }
}
