.search-modal {
  position: fixed;
  inset: 0;
  z-index: 20;
  display: flex;
  place-content: center;
  place-items: center;
  color: white;
  background: var(--purple);
  transition: 0.8s ease-out;
  transform: translateY(-100vh);
  will-change: transform;

  &--active {
    transform: translateY(0);
  }

  &__element {
    &:first-of-type {
      grid-row: 1/-1;
    }
  }

  &__list {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: 1fr 1fr;
    row-gap: 50px;
    column-gap: 80px;
    width: 1680px;
  }

  &__sub-element {
  }

  &__sub-list {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-top: 20px;
    margin-left: 40px;
  }
}

.search-input {
  position: relative;
  width: 1160px;
  padding-bottom: 10px;
  margin: 0 auto;
  border-bottom: 1px solid var(--white);

  &__input {
    width: 100%;
    color: var(--white);
    text-align: center;
    background: unset;
    @include u-text-xl2;

    &::placeholder {
      color: var(--white);
    }
  }

  &__button {
    position: absolute;
    right: 15px;
    bottom: 14px;
    width: 30px;
    height: 30px;
    transition: 0.1s ease-in;

    &:hover {
      transform: scale(1.1);
    }
  }
}

.search-container {
  width: 1160px;
  margin: 113px auto 0;

  &__description {
    margin: 30px 0 60px;
    @include u-text-l;
  }

  .search-input {
    border-color: var(--purple);

    &__input {
      color: var(--purple);
    }

    &::placeholder {
      color: var(--purple);
    }
  }
}
