.services-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 1420px;
  gap: 120px;
  margin: 0 auto;
  @media (--large) {
    width: 1080px;
    gap: 60px;
  }
  @media (--tablet) {
    width: 708px;
  }
  @media (--mobile) {
    width: 330px;
    gap: 40px;
    display: flex;
    flex-direction: column;
  }
  &__title {
    grid-column: 1/-1;
    text-align: center;

    @include u-text-xl5;
  }
}
.button-container {
  display: flex;
  width: 1040px;
  gap: 40px;
  margin: 0 auto 150px;
  .button {
    width: 100%;
    text-align: center;
    a {
      width: 100%;
    }
  }
}
.button {
  border: 1px solid var(--pink);
  border-radius: 50px;
  padding: 11px 48px 10px;
  width: max-content;
  transition: 0.3s ease-out;
  position: relative;
  z-index: 20;
  @media (--large) {
    padding: 10px 58px 8px;
  }
  @media (--tablet) {
    padding: 12px 56px 9px;
  }
  @media (--mobile) {
    padding: 10px 66px 8px;
  }
  @include u-text-l;

  &:hover {
    background: var(--pink);
    text-decoration: underline;
    color: var(--white);
  }

  &--sm {
    padding: 15px 29px 13px;

    @include u-text-base;
  }
  &--dark {
    border: 1px solid var(--purple);
    background: var(--purple);
    color: var(--white);
    &:hover {
      background: unset;
      color: var(--purple);
    }
  }
  &--light {
    border: 1px solid var(--pink);
    background: var(--white);
    color: var(--black);
    padding: 11px 37px 10px;
    @media (--large) {
      padding: 10px 50px 8px;
    }
    @media (--tablet) {
      padding: 12px 55px 9px;
    }
    @media (--mobile) {
      padding: 10px 60px 8px;
    }
    &:hover {
      background: var(--pink);
      color: var(--white);
    }
  }
}

.service-article {
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 auto;
  .button {
    margin: 0 auto;
  }
  &:last-of-type:nth-of-type(odd) {
    grid-column: 1/-1;
    width: 940px;
    text-align: left;

    @media (--large) {
      width: 770px;
    }
    @media (--tablet) {
      width: 690px;
    }
    @media (--mobile) {
      width: 330px;
      text-align: center;
    }
    .service-article__icon {
      flex-basis: 100%;
      width: 250px;
      height: max-content;
      @media (--large) {
        width: 220px;
      }
      @media (--tablet) {
        width: 180px;
      }
      @media (--mobile) {
        width: 60px;
      }
    }
    .button {
      margin: unset;
      @media (--mobile) {
        margin: 0 auto;
      }
    }
  }
  &__description {
    margin: 20px 0 40px;
    width: 650px;
    @include u-text-l;
    @media (--large) {
      width: 510px;
      margin: 15px 0 30px;
    }
    @media (--tablet) {
      width: 324px;
      margin: 10px 0 20px;
    }
    @media (--mobile) {
      width: 330px;
      margin: 5px 0 20px;
    }
  }
  &__icon {
    margin: 0 auto;
    width: 150px;
    @media (--large) {
      width: 120px;
    }
    @media (--tablet) {
      width: 100px;
    }
    @media (--mobile) {
      width: 60px;
    }
  }
  &__title {
    color: var(--purple);
    width: 650px;
    @include u-text-xl3;
    @media (--large) {
      width: 510px;
    }
    @media (--tablet) {
      width: 324px;
    }
    @media (--tablet) {
      width: 330px;
    }
  }
}
