.services-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 120px;
  width: 1420px;
  margin: 0 auto;
  @media (--large) {
    gap: 60px;
    width: 1080px;
  }
  @media (--tablet) {
    row-gap: 65px;
    column-gap: 60px;
    width: 708px;
  }
  @media (--mobile) {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 330px;
  }
}

.services-container-title {
  grid-column: 1/-1;
  margin-bottom: 60px;
  text-align: center;
  @include u-text-xl5;
  @include u-fix-lh-xd;
  @media (--large) {
    margin-bottom: 30px;
  }
  @media (--tablet) {
    margin-bottom: 40px;
  }
  @media (--mobile) {
    margin-bottom: 25px;
  }
}

.button-container {
  display: flex;
  gap: 40px;
  width: 1040px;
  margin: 0 auto 150px;

  .button {
    width: 100%;
    text-align: center;

    a {
      width: 100%;
    }
  }
}

.button {
  position: relative;
  z-index: 19;
  width: max-content;
  padding: 11px 48px 10px;
  line-height: 1em;
  border: 1px solid var(--pink);
  border-radius: 50px;
  transition: 0.3s ease-out;

  @media (--large) {
    padding: 10px 58px 8px;
  }
  @media (--tablet) {
    padding: 12px 56px 9px;
  }
  @media (--mobile) {
    padding: 10px 66px 8px;
  }
  @include u-text-l;
  @include u-fix-lh-xd;

  &:hover {
    color: var(--white);
    text-decoration: underline;
    background: var(--pink);
  }

  &--sm {
    padding: 15px 29px 13px;

    @include u-text-base;
    @include u-fix-lh-xd;
  }

  &--dark {
    color: var(--white);
    background: var(--pink);
    border: 1px solid var(--pink);

    &:hover {
      color: var(--pink);
      background: unset;
    }
  }

  &--light {
    padding: 11px 37px 10px;
    color: var(--black);
    background: var(--white);
    border: 1px solid var(--pink);
    @media (--large) {
      padding: 10px 50px 8px;
    }
    @media (--tablet) {
      padding: 12px 55px 9px;
    }
    @media (--mobile) {
      padding: 10px 60px 8px;
    }

    &:hover {
      color: var(--white);
      background: var(--pink);
    }
  }

  &--full {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    text-align: center;
  }

  &--center {
    display: block;
    margin: 0 auto;
  }
}

.service-article {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 auto;
  text-align: center;

  .button {
    margin: 0 auto;
  }

  &:last-of-type:nth-of-type(odd) {
    grid-column: 1/-1;
    width: 940px;
    height: 300px;
    text-align: left;
    @media (--large) {
      width: 770px;
      height: 252px;
      margin-top: 20px;
    }
    @media (--tablet) {
      width: 690px;
      height: 220px;
    }
    @media (--mobile) {
      flex-wrap: unset;
      width: 330px;
      height: unset;
      margin-top: 0;
      text-align: center;
    }

    .service-article__title {
      @media (--tablet) {
        width: 480px;
      }
      @media (--mobile) {
        width: 330px;
      }
    }

    .service-article__description {
      @media (--tablet) {
        width: 480px;
      }
      @media (--mobile) {
        width: 330px;
      }
    }

    .service-article__icon {
      flex-basis: 100%;
      width: 250px;
      height: max-content;
      margin-right: 40px;
      @media (--large) {
        width: 220px;
      }
      @media (--tablet) {
        width: 180px;
      }
      @media (--mobile) {
        width: 100px;
        height: unset;
        margin: 0 auto;
      }
    }

    .button {
      margin: unset;
      @media (--mobile) {
        margin: 0 auto;
      }
    }
  }

  &__description {
    width: 650px;
    margin: 20px 0 40px;
    @include u-text-l;
    @media (--large) {
      width: 510px;
      margin: 15px 0 30px;
    }
    @media (--tablet) {
      width: 324px;
      margin: 10px 0 20px;
    }
    @media (--mobile) {
      width: 330px;
      margin: 5px 0 20px;
    }
  }

  &__icon {
    width: 150px;
    margin: 0 auto 35px;
    @media (--large) {
      width: 120px;
      margin-bottom: 15px;
    }
    @media (--tablet) {
      width: 100px;
    }
    @media (--mobile) {
      width: 60px;
      margin-bottom: 8px;
    }
  }

  &__title {
    width: 650px;
    color: var(--purple);
    @include u-text-xl3;
    @include u-fix-lh-xd;
    @media (--large) {
      width: 510px;
    }
    @media (--tablet) {
      width: 324px;
    }
    @media (--mobile) {
      width: 330px;
    }
  }
}
