.team-container {
  padding: 100px 0;
  background: var(--light-pink);
  @media (--large) {
    padding: 70px 0;
  }
  @media (--tablet) {
    padding: 50px 0;
  }
  @media (--mobile) {
    padding: 35px 0;
  }

  &__title {
    width: 960px;
    margin: 0 auto;
    text-align: center;
    @include u-text-xl5;
    @media (--large) {
      width: 800px;
    }
    @media (--tablet) {
      width: 708px;
    }
    @media (--mobile) {
      width: 330px;
    }
  }

  &__description {
    position: relative;
    display: flex;
    place-content: center;
    place-items: center;
    width: 960px;
    margin: 20px auto 0;
    text-align: center;
    @include u-text-xl2;

    @media (--large) {
      width: 800px;
      margin: 5px auto 0;
    }
    @media (--tablet) {
      width: 708px;
      margin: 10px auto 0;
    }
    @media (--mobile) {
      width: 330px;
      margin: 5px auto 0;
    }

    &::after {
      position: absolute;
      bottom: -60px;
      width: 30px;
      height: 30px;
      content: "";
      background: var(--pink);
      border-radius: 100%;
      @media (--large) {
        bottom: -50px;
        width: 25px;
        height: 25px;
      }
      @media (--tablet) {
        bottom: -32px;
        width: 20px;
        height: 20px;
      }
      @media (--mobile) {
        bottom: -22px;
        width: 12px;
        height: 12px;
      }
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 100px;
    column-gap: 92px;
    width: 1680px;
    margin: 120px auto 0;

    @media (--large) {
      grid-template-columns: repeat(3, 1fr);
      gap: 64px;
      width: 1180px;
      margin: 80px auto 0;
    }
    @media (--tablet) {
      grid-template-columns: repeat(2, 1fr);
      row-gap: 50px;
      column-gap: 60px;
      width: 708px;
      margin: 60px auto 0;
    }
    @media (--mobile) {
      display: flex;
      flex-direction: column;
      gap: 35px;
      width: 330px;
      margin: 25px auto 0;
    }
  }
}
