.testimonial {
  display: flex;
  flex-direction: column;
  place-content: center;
  place-items: center;
  width: 500px;
  min-width: 500px;
  @media (--large) {
    width: 450px;
    min-width: 450px;
  }
  @media (--tablet) {
    width: 500px;
    min-width: 500px;
  }
  @media (--mobile) {
    width: 330px;
    min-width: 330px;
  }

  &--no-slider {
    .testimonial__title {
      width: 100%;
    }

    .testimonial__description {
      width: 100%;
    }
    @media (--large) {
      width: 332px;
      min-width: unset;
    }
    @media (--tablet) {
      width: 324px;
      min-width: unset;
    }
    @media (--mobile) {
      width: 330px;
      min-width: unset;
    }
  }

  &__icon {
    width: 150px;
  }

  &__description {
    @include u-text-l;
    @media (--tablet) {
      width: 500px;
    }
    @media (--mobile) {
      width: 330px;
    }
  }

  &__subtitle {
    margin: 5px 0 20px;
    color: var(--purple);
    @include u-text-xl;

    @media (--large) {
      margin: 5px 0 15px;
    }
    @media (--tablet) {
      width: 500px;
      margin: 5px 0 10px;
    }
    @media (--mobile) {
      width: 330px;
      margin: 5px 0;
    }
  }

  &__title {
    font-weight: 600;
    color: var(--purple);
    @include u-text-xl3;
    @include u-fix-lh-xd;

    @media (--tablet) {
      width: 500px;
    }
    @media (--mobile) {
      width: 330px;
    }
  }
}

.testimonials-carrousel {
  position: relative;
  padding: 100px 0 135px;
  text-align: center;
  background: var(--light-pink);

  @media (--large) {
    padding: 70px 0;
  }
  @media (--tablet) {
    padding: 50px 0;
  }
  @media (--mobile) {
    padding: 35px 0 95px;
  }

  &__title {
    width: 960px;
    margin: 0 auto;
    @media (--large) {
      width: 800px;
    }
    @media (--tablet) {
      width: 708px;
    }
    @media (--mobile) {
      width: 330px;
    }
    @include u-text-xl5;
  }

  &__text {
    width: 960px;
    margin: 25px auto 80px;

    @include u-text-xl;

    @media (--large) {
      width: 800px;
      margin: 15px auto 50px;
    }
    @media (--tablet) {
      width: 708px;
      margin: 10px auto 40px;
    }
    @media (--mobile) {
      width: 330px;
      margin: 5px auto 25px;
    }
  }

  &__slider {
    display: flex;
    gap: 72px;
    place-items: center;

    // width: 400vw;
    transition: 0.6s ease-out;

    @media (--large) {
      gap: 98px;
    }
    @media (--tablet) {
      gap: 106px;
    }
    @media (--mobile) {
      gap: 106px;
    }

    &--no-slider {
      margin: 0 auto;
      @media (--tablet) {
        flex-wrap: wrap;
        place-content: center;
      }
      @media (--tablet) {
        gap: 50px;
      }
      @media (--mobile) {
        gap: 38px;
      }
    }

    // &--sm {
    //   place-content: center;
    //   width: auto;
    //   margin: 0 auto;
    //   gap: 70px;
    //   @media (--large) {
    //     gap: 80px;
    //   }
    // }
  }

  &__slider-container {
    position: relative;
    display: flex;
    place-items: center;
    width: 1796px;
    padding: 0 76px;
    margin: 0 auto;
    overflow: hidden;
    @media (--large) {
      width: 1185px;
      padding: 0 100px;
    }
    @media (--tablet) {
      width: 708px;
    }
    @media (--mobile) {
      width: 330px;
      padding: 0;
    }

    &--no-slider {
      width: auto;
    }
  }

  &__button-mobile-container {
    display: none;
    place-content: space-between;
    place-items: center;
    width: 330px;
    margin: 20px auto 35px;
    @media (--mobile) {
      display: flex;
    }
  }

  &__button {
    position: absolute;
    left: 0;
    z-index: 2;
    width: 38px;
    transition: transform 0.3s ease-out;
    @media (--mobile) {
      position: static;
    }

    // &--mobile {
    //   display: none;
    //   @media (--mobile) {
    //     display: block;
    //     bottom: 35px;
    //     left: 15px;
    //   }
    // }

    &:hover {
      transform: scale(1.1);
    }

    &--sm {
      display: none;
      @media (--tablet) {
        display: block;
      }
    }

    &--rotate {
      right: 0;
      left: unset;
      transform: rotate(180deg);

      &:hover {
        transform: rotate(180deg) scale(1.1);
      }
    }
  }
}
