.testimonials {
  background: var(--light-pink);
  padding: 100px 0;
  text-align: center;
  @media (--large) {
    padding: 70px 0;
  }
  @media (--tablet) {
    padding: 50px 0;
  }
  @media (--mobile) {
    padding: 35px 0;
  }
  &__title {
    width: 960px;
    margin: 0 auto 80px;

    @include u-text-xl5;

    @media (--large) {
      width: 450px;
      margin: 0 auto 50px;
    }
    @media (--tablet) {
      width: 500px;
      margin: 0 auto 40px;
    }
    @media (--mobile) {
      margin: 0 auto 25px;

      width: 330px;
    }
  }
  &__container {
    display: flex;
    place-content: center;
 
  }
  &__button {
    position: absolute;
    width: 38px;
    left: 0;
    transition: transform 0.3s ease-out;
    z-index: 2;
    display: none;
    @media (--tablet) {
      width: 30px;
      display: block;
    }

    &:hover {
      transform: scale(1.1);
    }
    &--rotate {
      transform: rotate(180deg);
      left: unset;
      right: 0;
      &:hover {
        transform: rotate(180deg) scale(1.1);
      }
    }
  }
}
