.testimonial {
  width: 500px;
  &__description {
    @include u-text-l;
  }
  &__subtitle {
    margin: 5px 0 20px;
    color: var(--purple);
    @include u-text-xl;
  }
  &__title {
    font-weight: 600;
    color: var(--purple);
    @include u-text-xl3;
  }
}
.testimonials {
  background: var(--light-pink);
  padding: 100px 0 135px;
  text-align: center;
  &__title {
    width: 960px;
    margin: 0 auto;

    @include u-text-xl5;
  }
  &__text {
    width: 960px;
    margin: 25px auto 80px;
    @include u-text-xl;
  }
  &__slider {
    display: flex;
    place-items: center;
    gap: 70px;
    width: 400vw;
    transition: 0.6s ease-out;
  }
  &__slider-container {
    width: 1796px;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    padding: 0 76px;
    margin: 0 auto;
    display: flex;
    place-items: center;
  }
  &__button {
    position: absolute;
    width: 38px;
    left: 0;
    transition: transform 0.3s ease-out;
    z-index: 2;
    &:hover {
      transform: scale(1.1);
    }
    &--rotate {
      transform: rotate(180deg);
      left: unset;
      right: 0;
      &:hover {
        transform: rotate(180deg) scale(1.1);
      }
    }
  }
}
