.work-us {
  position: relative;
  width: 800px;
  margin: 310px auto 166px;
  text-align: center;
  @media (--large) {
    width: 650px;
    margin: 175px auto 134px;
  }
  @media (--tablet) {
    width: 708px;
    margin: 182px auto 87px;
  }
  @media (--mobile) {
    width: 330px;
    margin: 122px auto 66px;
  }

  &::before {
    position: absolute;
    top: -60px;
    width: 30px;
    height: 30px;
    content: "";
    background: var(--pink);
    border-radius: 100%;
    @media (--large) {
      top: -55px;
    }
    @media (--tablet) {
      top: -32px;
      width: 20px;
      height: 20px;
    }
    @media (--mobile) {
      top: -22px;
      width: 12px;
      height: 12px;
    }
  }

  &__title {
    @include u-text-xl4;
    @include u-fix-lh-xd;
  }

  &__description {
    margin: 30px 0 56px;
    @include u-text-xl;
    @media (--large) {
      margin: 20px 0 44px;
    }
    @media (--tablet) {
      margin: 10px 0 37px;
    }
    @media (--mobile) {
      margin: 8px 0 25px;
    }
  }

  &__link {
    position: relative;
    @include u-text-xl;

    // @media (--mobile) {
    //   display: none;
    // }

    &::after {
      position: absolute;
      top: calc(100% + 9px);
      right: 0;
      width: 30px;
      height: 4px;
      content: "";
      background: var(--pink);
      transition: 0.4s ease-in;
      transform: skew(-45deg, 0);
      @media (--large) {
        top: calc(100% + 6px);
      }
    }

    &::before {
      position: absolute;
      bottom: calc(100% + 9px);
      left: 0;
      width: 30px;
      height: 4px;
      content: "";
      background: var(--pink);
      transition: 0.4s ease-in;
      transform: skew(-45deg, 0);
      @media (--large) {
        bottom: calc(100% + 6px);
      }
    }

    &:hover {
      &::before {
        width: 100%;
      }

      &::after {
        width: 100%;
      }
    }

    &--mobile {
      display: none;
      @media (--mobile) {
        display: flex;
        place-content: center;
        place-items: center;

        &::before {
          content: unset;
        }

        &::after {
          position: static;
          top: unset;
          right: 0;
          display: block;
          width: 20px;
          height: 20px;
          margin-left: 5px;
          content: "";
          background: unset;
          background: url(~/assets/svg/headphone.svg);
          background-repeat: no-repeat;
          background-size: 100%;
          transition: unset;
          transform: unset;
        }
      }
    }
  }
}
